<div class="card">
    <div class="card-header">
        <h6 class="card-title"><i class="fas fa-list-alt"></i> Crear entrenamiento</h6> 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
        Categoría: <select class="form-control">
            <option value="1">Pecho</option>
            <option value="2">Espalda</option> 
        </select>
        Ejercicio: <select select class="form-control">
            <option value="1">Press banca</option>
            <option value="2">Flexiones</option> 
        </select><br>
        <button class="btn btn-info">Añadir ejercicio</button>
        <button class="btn btn-danger">Borrar ejercicio</button>
    </div>
    <div class="col-md-6">
        <label>Series: </label><input select class="form-control" type="number" placeholder="Series">
        <label>Reps: </label><input select class="form-control" type="number" placeholder="Reps">
        <label>Peso: </label><input select class="form-control" type="number" placeholder="Peso (kg)">
    </div>
</div>
    </div>
    <ul class="lista-ejercicios list-group list-group-flush">
        <li class="list-group-item"><strong>Cat: Pecho</strong><strong>Press Banca</strong><strong> Series: 4</strong> <strong>Reps: 12</strong><strong>80 kg</strong></li>
        <li class="list-group-item"><strong>Cat: Pecho</strong><strong>Press Banca</strong><strong> Series: 4</strong> <strong>Reps: 12</strong><strong>80 kg</strong></li>
        <li class="list-group-item"><strong>Cat: Pecho</strong><strong>Press Banca</strong><strong> Series: 4</strong> <strong>Reps: 12</strong><strong>80 kg</strong></li>
        <li class="list-group-item"><strong>Cat: Pecho</strong><strong>Press Banca</strong><strong> Series: 4</strong> <strong>Reps: 12</strong><strong>80 kg</strong></li>
    </ul>
    <div class="card-body final">
        <h6 class="card-title"><i class="fas fa-weight"></i> Peso corporal</h6><input select class="form-control" type="number" placeholder="Peso">
        <h6 class="card-title"><i class="fas fa-comment"></i> Comentario</h6>
        <textarea select class="form-control"></textarea><br> 
        <button class="btn btn-info">Crear ETTO</button>
        <button class="btn btn-danger">Borrar ETTO</button>
    </div>
</div>
